<div class="row">
    <div class="col text-center">
        <h1>Product List</h1>
    </div>
</div>
<table class="mt-2 table table-striped table-bordered">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Number</th>
            <th>Color</th>
            <th class="text-end">Cost</th>
            <th class="text-end">Price</th>
        </tr>
    </thead>
    <tbody>
        {{#data}}
            <tr>
                <td>
                    <a href="product/{{ProductID}}" class="btn btn-primary">
                        Edit
                    </a>
                </td>
                <td>{{ProductID}}</td>
                <td>{{Name}}</td>
                <td>{{ProductNumber}}</td>
                <td>{{Color}}</td>
                <td class="text-end">{{StandardCost}}</td>
                <td class="text-end">{{ListPrice}}</td>
            </tr>
        {{/data}}
    </tbody>
</table>
